
<html>

    <head>
        <title>add newPl</title>
    </head>        

    <body>
        <form action="/new" method="POST">
            <p>Номер площадки PL_33_XXXXX:<input type="text" name="insert_ID"> </p>
            <p>Рабочие диапазоны_________:<input type="text" name="insert_Diapazon"></p>
            <p>Адрес_____________________:<input type="text" name="insert_Adres"></p>
            <p>Инфраструктура            :<input type="text" name="insert_Infrastructura"></p>
            <p>Принадлежность            :<input type="text" name="insert_Prinadlegnost"></p>
            <p>Доступ                    :<input type="text" name="insert_Dostup"></p>
            <p>Ключ                      :<input type="text" name="insert_Kluch"></p>
            <p>Аппаратная                :<input type="text" name="insert_Aparatnaa"></p>
            <p>Арендодатель              :<input type="text" name="insert_AD"></p>
            <p>Контакт                   :<input type="text" name="insert_Contact"></p>
            <p>Координаты                :<input type="text" name="insert_WGS"></p>
            <p>Примечание                :<input type="text" name="insert_Primechanie"></p>

            <input type="submit" value="создать">
        </form>
        <form action="/del" method="POST">
            Pl:<input type="text" name="namePl">
            <input type="submit" value="удалить">
        </form>

    </body>

</html>